.reveal section img.noborder {
	border: 0;
}

#sondage12H_options {
    list-style-type: none;
}

#sondage15H_options {
    list-style-type: none;
}

.big_input_qnh {
    width:120px;
    height:40px;
    font-size:25px;
}

.big_input_delta {
    width:40px;
    height:40px;
    font-size:25px;
}

.big_input_fl {
    width:100px;
    height:40px;
    font-size:25px;
}

.div_qnh {
    max-width:100%; 
    max-height:100%; 
    height:600px; 
    background:white;
}

.alti {
    width:100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.alti td {
    border:2px solid black;
    padding: 2px;
}

.risques {
    font-size:25px;
    font-weight: bold;
}